# Data Science Tools and Ecosystem

 In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are: 
+ python 
- R
* javascript

Some of the commonly used libraries used by Data Scientists include:
+ panda
+ numpy
+ tensorflow

***Objectives:***
- List popular languages for Data Science
- Some of the commonly used libraries by data Scientists
- different heading  styles

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| VS Code            |

### Below are a few examples of evaluating arithmetic expressions in Python

In [15]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [17]:
#This will convert 200 minutes to hours by diving by 60
min=200
hour=min/60
hour

3.3333333333333335

## Author
MUTTEVI KRISHNA CHAITANAYA